<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Login API Test Suite" verbose="1">
    
    <test name="Basic Login API Tests">
        <classes>
            <class name="com.api.test.LoginAPITest" />
        </classes>
    </test>
    
    <test name="Demo Login API Tests">
        <classes>
            <class name="com.api.test.LoginAPITestDemo" />
        </classes>
    </test>
    
    <test name="Enhanced Login API Tests">
        <classes>
            <class name="com.api.test.LoginAPITestEnhanced" />
        </classes>
    </test>
    
    <test name="All Login API Tests">
        <classes>
            <class name="com.api.test.LoginAPITest" />
            <class name="com.api.test.LoginAPITestDemo" />
            <class name="com.api.test.LoginAPITestEnhanced" />
        </classes>
    </test>
    
</suite> 